html {
  background:linear-gradient(100deg, RGBA(43, 45, 58, 1), RGBA(43, 45, 58, 1)), url("https://media.discordapp.net/attachments/807419494686654494/897872495678464030/image.png?width=1920&height=1080") fixed!important; /* Replace the URL, with a link to whatever image you want to use as your background, note that if the images dimensions must be the same as your screens dimensions. Also, change the RGBA values to suite your needs.*/
    background-position-x:  calc(-1px*var(--x)) !important;
    background-position-y:  calc(-1px*var(--y)) !important;
}
